:root {
    --background-color: white;
    --background-color-highlight: #fbfbfb;
    --base-text-color: #303030;
    --title-color: #101010;
    --secondary-color: #f9f9f9;
    --secondary-color-highlight: #f5f5f5;
    --steelers-black: #101820;
    --steelers-yellow: #FFB612;
    --uw-primary: #32006e;
    --uw-secondary: #c5b4e3;
    --uw-tertiary: #4b2e83;
    --uw-quaternary: #b7a57a;
    --uw-quintary: #85754d;
    --cmu-primary: #990000;
    --cmu-secondary: #E0E0E0;
    --cmu-tertiary: #EF3A47;
}

.darkmode {
    --background-color: #161616;
    --base-text-color: #A0A0A0;
    --title-color: #b9b9b9;
    --secondary-color: #222;
    --steelers-black: #a5acaf;
    --uw-primary: #a98bcdff;
    --cmu-primary: #ff5f5f;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
    color: var(--base-text-color);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-body {
    margin: 0%;
    padding: 0%;
    padding-top: 3%;
    width: auto;
}

header {
    max-width: 750;
    width: auto;
    margin: auto;
    padding-bottom: 4%;
}

div {
    max-width: 750;
    width: auto;
    margin: auto;
}

#misc {
    padding-bottom: 8%;
}

@media screen and (max-width: 1080px) {
    #misc {
        padding-bottom: 4%;
    }
}

#title {
    color: var(--title-color);
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    color: var(--title-color);
    font-weight: 500;
    margin-bottom: 2%;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    color: var(--title-color);
    font-weight: 450;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 0.5%;
    padding-top: 0%;
    text-decoration: underline;
    text-decoration-color: var(--uw-secondary);
    text-decoration-thickness: 0px;
    text-underline-offset: 5px;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    margin-top: 1%;
    margin-bottom: 1%;
}

.semibold {
    color: var(--title-color);
    font-weight: 325;
}

.bold {
    color: var(--title-color);
    font-weight: 350;
}

.black {
    color: var(--steelers-black);
}

.yellow {
    color: var(--steelers-yellow);
}

.code {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    color: var(--uw-tertiary);
    font-weight: 350;
    background-color: var(--secondary-color);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 0.5%;
    border-radius: 5px;
}

a {
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
}

.gradient span {
  background: linear-gradient(0deg, var(--uw-secondary) 0%, var(--uw-secondary) 12%, var(--background-color) 12%);
}

.padding span {
  padding-bottom: 0.25%;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

a:hover {
    text-decoration: underline;
}

.cleanul {
    list-style-type: none;
    margin: 0%;
    padding-top: 2%;
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 1%;
}

.cleanulshort {
    list-style-type: none;
    margin: 0%;
    padding-left: 0%;
    padding-top: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

li {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.secondary {
    background-color: var(--secondary-color);
}

section {
    padding-bottom: 4%;
}

.subsection {
    padding: 0px;
}

td {
    padding-top: 0%;
    padding-bottom: 2%;
    font-weight: 300;
}

.cmu {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 325;
    color: var(--cmu-primary);
}

.cmulink {
    color: var(--base-text-color);
    font-weight: 300;
}

.cmulink:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2.5px;
    text-decoration-color: var(--cmu-secondary);
}

.uw {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 325;
    color: var(--uw-tertiary);
}

.link {
    color: var(--base-text-color);
    font-weight: 300;
}

.link:hover {
    text-decoration: none;
}

.normallink {
    color: var(--base-text-color);
    font-weight: 300;
}

.normallink:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--uw-secondary);
}

.normallinklarge {
    color: var(--base-text-color);
    font-weight: 300;
}

.normallinklarge:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2.5px;
    text-decoration-color: var(--uw-secondary);
}

.boldlink {
    color: var(--title-color);
    font-weight: 350;
}

.boldlink:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2.5px;
    text-decoration-color: var(--uw-secondary);
}

.boldpurplelink {
    color: var(--uw-primary);
    font-weight: 350;
}

.boldpurplelink:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2.5px;
    text-decoration-color: var(--uw-secondary);
}

.authorlink {
    color: var(--base-text-color);
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--uw-secondary);
}

.authorlink:hover {
    text-decoration: none;
}

.inverselink {
    color: var(--base-text-color);
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--uw-secondary);
}

.separated {
    text-underline-offset: 4px;
}

.separated:hover {
    text-underline-offset: 4px;
}

.bunched {
    text-underline-offset: 6px;
}

.bunched:hover {
    text-underline-offset: 6px;
}

.inverselink:hover {
    text-decoration: none;
}

.arxivlink {
    color: var(--uw-primary);
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 3.5px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--uw-secondary);
}

.arxivlink:hover {
    text-decoration: none;
}

.publicationli {
    border-style: solid;
    border-color: var(--uw-secondary);
    border-width: 0;
    border-left-width: 4px;
    background-color: var(--background-color-highlight);
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media screen and (max-width: 1080px) {
    .publicationli {
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
}

.quantum {
    border-color: var(--uw-primary);
    color: var(--uw-primary);
}

.sampling {
    border-color: var(--uw-quaternary);
    color: var(--uw-quintary);
}

.uwli {
    border-style: solid;
    border-color: var(--uw-secondary);
    border-width: 0;
    border-left-width: 4px;
    background-color: var(--background-color-highlight);
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.cmuli {
    border-style: solid;
    border-color: var(--cmu-secondary);
    border-width: 0;
    border-left-width: 4px;
    background-color: var(--background-color-highlight);
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.publicationtitle {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    color: var(--title-color);
}

.publicationauthors {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    color: var(--base-text-color);
    line-height: 1.5;
}

.publicationform {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    color: var(--base-text-color);
    line-height: 1.5;
}

.publicationlink {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 1%;
    color: var(--base-text-color);
    font-size: 15px;
    line-height: 1.5;
}

.pubspacing {
    margin-left: 1.5%;
}

@media screen and (max-width: 1080px) {
    .pubspacing {
        margin-left: 2%;
    }
}

.bullet { 
    padding-left: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#title:hover {
    text-decoration: none;
}

.profile {
    width: 75%;
    float: right;
}

.tooltip {
    margin: 0;
    width: 100%;
    position: relative;
}

.tooltip .tooltiptext {
    display: none;
    width: 85%;
    background-color: var(--background-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    position: absolute;
    left: 105%;
    transform: translateY(200%);
}

.tooltip:hover .tooltiptext {
    display: block;
}

.imagetooltip {
    display: inline-block;
    color: var(--title-color);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--uw-secondary);
}

.imagetooltip .tooltipimage {
    display: none;
    width: 25%;
    max-width: 400px;
    height: auto; /* Maintain aspect ratio */
    width: auto; /* Maintain aspect ratio */
    position: absolute;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 0px;
    z-index: 10;
    transform: translateY(-110%);
}

@media screen and (max-width: 1080px) {
    .imagetooltip .tooltipimage {
        width: 80%;
        max-width: 400px;
    }
}

.imagetooltip:hover .tooltipimage {
    display: block;
}

.imagetooltip:hover {
    text-decoration: none;
}

.shadow {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}

.button {
  background-color: var(--background-color);
  border: none;
  color: var(--base-text-color);
  padding: 0;
  cursor: pointer;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 325;
}

.firstcolumn {
    width: 50%;
}

.secondcolumn {
    width: 25%;
    min-width: 375px;
}

.profilepic {
    display: none;
    float: right;
}

.row {
    display: none;
}

#rowcode {
    padding-bottom: 6%;
}

@media screen and (max-width: 1080px) {
    #desktoptable {
        display: none;
    }

    .profilepic {
        display: block;
        margin: auto;
        margin-bottom: 5%;
        width: 75%;
        max-width: 400px
    }

    .row {
        display: block;
        margin: 0%;
        padding-bottom: 1%;
        padding-top: 1%;
    }
}

@media screen and (max-width: 1080px) {
    header {
        margin: auto;
        width: 95%;
    }
}

@media screen and (max-width: 1080px) {
    div {
        margin: auto;
        width: 95%;
    }
}

.animation {
    display: none; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 500px;
    max-width: 100%;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1080px) {
    .animation {
        max-width: 100%;
        width: 500px;
    }
}